html, body{
    width: 100%;
    height: 100%;
    overflow: scroll;
}
/*******************/
#canvas{
    height: auto;
    width: auto;
}
/*******************/
#head-content{
    height: 5%;
}
#main-container{
    height: 95%;
    z-index: 0;
}
#file-content{
    height: 100%;
}
#carousel-container{
    height: 50%;
    background-color: rgb(0,0,0);
    z-index: 3;
}
#file-choice-container{
    position: relative;
}

#file-choice-container input{
    height: 100%;
    width: 60%;
    position: relative;
    float: left;
}
/***********BUTTONS******************/
#upload{
    height: 100%;
    display: block;
    text-align: center;
}

/***********CAROUSEL*****************/

#workspaceContainer{
    height: 100%;
}
.media{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}
.chevron-hover i{
    position: absolute;
    top: 50%;
}
/***********HOVER MODE**********************/
.chevron:hover {
    z-index: 2;
    color: #0000FF;
}
#selection, #carousel-container{
    display: block;
}
/*********************************************/
