html, body{
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#main-container{
    width: 100%;
    height: 100%;
}
/*******************/
#canvas{
    height: auto;
    width: auto;
}
/*******************/
#head-content{
    height: 5%;
}

#file-content{
    height: 40%;
}
#carousel-container{
    height: 50%;
    background-color: rgb(0,0,0);
    z-index: 1;
}
#media-options{
    height:5%;
    z-index: 1;
}
#file-choice-container{
    position: relative;
}

#file-choice-container input{
    height: 100%;
    width: 60%;
    position: relative;
    float: left;
}
/***********BUTTONS******************/
#upload{
    height: 100%;
    display: block;
    text-align: center;
}

/***********CAROUSEL*****************/

#workspaceContainer{
    height: 100%;
}/*
#carousel-slides{
    position: relative;
    height: 100%;
    overflow: hidden;
}
.slide{
    position: absolute;
    height: 100%;
    width: 100%;
}
.media{
    display: block;
    margin-left: auto;
    margin-right: auto
}
*/
.media{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}
.chevron-hover i{
    position: absolute;
    top: 50%;
}
/***********HOVER MODE**********************/
.chevron:hover {
    z-index: 2;
    color: #0000FF;
}
#selected-frame{
    height: 600px;
    width: 400px;
}

#selection, #carousel-container{
    display: block;
}