html, body{
    width: 100%;
    height: 100%;
    overflow: scroll;
}
/*******************/
#canvas{
    height: auto;
    width: auto;
}
/*******************/
#head-content{
    height: 5%;
}
#main-container{
    height: 95%;
    z-index: 0;
}
#file-content{
    height: 100%;
}
#carousel-container{
    height: 50%;
    background-color: rgb(0,0,0);
    z-index: 3;
}
#file-choice-container{
    position: relative;
}

#file-choice-container input{
    height: 100%;
    width: 60%;
    position: relative;
    float: left;
}
#file-content{
    background-color: rgb(155,155,155);
    position: relative;
}
#frame-container{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
}
#selected-frame{
    background-color: rgb(255,255,255);
    width: 100%;
    height: 100%;
}
/***********BUTTONS******************/
#upload{
    height: 100%;
    display: block;
    text-align: center;
}

/***********CAROUSEL*****************/

#workspaceContainer{
    height: 100%;
}
.media{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
}
.chevron-hover i{
    position: absolute;
    top: 50%;
}
/***********HOVER MODE**********************/
.chevron:hover {
    z-index: 2;
    color: #0000FF;
}
#selection, #carousel-container{
    display: block;
}
/*********************************************/
